/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$escavator-yellow: #f2aa00;
$charcoal-grey: #333;
$black: #000;
$white: #fff;

$factory-red: #c80003;
$factory-teal: #0ab1b7;
$factory-yellow: #eee606;
$factory-green: #a8eb06;
$factory-white: #fafafa;
$factory-charcoal: #333333;

//Main Font
$main-font: 'Lato', 'Helvetica', sans-serif;
$body-font: 'Lalezar', 'Helvetica', cursive;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;



